<ul class="child-page">
    <li>
        <a href="{{ site.baseurl }}/groups/kids.html">
            <span class="title">Деца 5г.-14г.</span>
        </a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/groups/beginners.html">
            <span class="title">Начинаещи</span>
        </a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/groups/advanced.html">
            <span class="title">Напреднали</span>
        </a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/groups/ensemble.html">
            <span class="title">Ансамбъл</span>
        </a>
    </li>
</ul>