<label id="toggle-main-nav-button" for="toggle-main-nav"><i class="fa fa-bars"></i></label>
<nav class="main-nav">
    <ul>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for item in sorted_pages %}
        {% if item.url != '/feed.xml' and item.type != 'nested' %}
        <li{% if item.type == 'chevron' %} class="chevron"{% elsif item.url == '/' %} class="li-logo"{% endif %}>
            <a{% if item.type != 'chevron' %} href="{{ site.baseurl }}{{ item.url }}"{% endif %}>
            <span class="title">{{ item.title }}</span>
            </a>
            {% if item.url == '/groups/groups/' %}
            <ul class="child-page">
                <li>
                    <a href="{{ site.baseurl }}/groups/kids.html">
                        <span class="title">Деца 5г. - 14г.</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/groups/beginners.html">
                        <span class="title">Начинаещи</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/groups/advanced.html">
                        <span class="title">Напреднали</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/groups/ensemble.html">
                        <span class="title">Ансамбъл</span>
                    </a>
                </li>
            </ul>
            {% elsif item.url == '/dance-halls/' %}
            <ul class="child-page">
                <li>
                    <a href="{{ site.baseurl }}/dh-dupnica.html">
                        <span class="title">Дупница</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/dh-djerman.html">
                        <span class="title">Джерман</span>
                    </a>
                </li>
            </ul>
            {% elsif item.url == '/gallery/' %}
            <ul class="child-page">
                <li>
                    <a href="{{ site.baseurl }}/gallery-hora.html">
                        <span class="title">Български танци</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/gallery-salsa.html">
                        <span class="title">Салса</span>
                    </a>
                </li>
            </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

<!-- {% if page.url == item.url %} class="current-page"{% endif %} -->
