/* .site-header nav {
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

.site-header nav li {
    display: block;
    position: relative;
}

.site-header nav > li {
    display: flex;
}

.site-header nav a {
    display: block;
    color: #FFF;
    padding: 0.8em 1.5em;
}

.site-header nav a:focus:active,
.site-header nav a:hover:active {
    background: yellow;
    color: #000;
}

@media (hover:hover) {
    .site-header nav > ul ul {
        background: rgba(0, 0, 0, 0.8);
        display: none;
        position: absolute;
        width: 13em;
        top: 100%;
        left: 0;
        z-index: 1000;
    }

    .site-header nav > ul > li > ul > li ul {
        left: 100%;
        top: 0;
    }

    .site-header nav li:hover > ul {
        display: block;
    }
}

@media (hover:none) {
    .site-header nav ul ul {
        padding: 0 0 1em 1em;
    }
}

/* Mobile Menu 
@media (max-width: 1024px) {
    #toggle-nav {
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }

    .site-header nav > ul {
        display: none;
    }

    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        padding: 0;
    }

    .nav-toggle i.nav-open {
        display: block;
    }

    .nav-toggle i.nav-close {
        display: none;
    }

    #toggle-nav:checked + .site-header nav > ul {
        display: block;
    }

    #toggle-nav:checked + .site-header .nav-toggle i.nav-close {
        display: block;
    }

    #toggle-nav:checked + .site-header .nav-toggle i.nav-open {
        display: none;
    }

    .menu {
        width: 10rem;
        position: fixed;
        overflow: hidden;
    }

    .menu li {
        display: block;
        list-style: none outside;
    }

    .menu a {
        display: block;
        color: #FFF;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        padding: 0.3em 1em;
    }

    .menu a.fas {
        font-family: inherit;
        font-weight: inherit;
    }

    .menu a.fas::before {
        font-family: "Font Awesome 5 Free";
        padding-right: 0.5rem;
        font-weight: 900;
    }
} */

/* HEADER TOP MENU */

.header-top-menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 20%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #79f149, #60c936, #49a324, #327f12, #1b5c01);
    padding: 0.5rem 1rem;
}

.header-top-menu i {
    color: #FFF;
    padding-right: 0.2rem;
}

.header-top-menu ul {
    display: flex;
}

.header-top-menu ul li {
    padding-right: 1.5rem;
}

.header-top-menu ul li a {
    color: #FFF;
}

.header-top-menu ul li a:hover {
    color: yellow ;
}

.header-top-menu .search {
    display: flex;
    padding-left: 2rem;
}

.header-top-menu .search input {
    padding-left: 1.5rem;
    width: 80%;
}

#search-icon {
    color: green;
    position: relative;
    content: '';
    top: 3px;
    left: 26px;
}

/* HEADER MAIN NAVIGATION */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 1rem;
}

.main-nav ul li a{
    font-size: 1.3em;
    color: #4D5CF7;
}