.gr-kids-wrapper {
  background-image: linear-gradient(to bottom right, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c); }

.gr-beginners-wrapper {
  background-image: linear-gradient(to top right, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c); }

.gr-advanced-wrapper {
  background-image: linear-gradient(to top left, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c); }

.gr-ensemble-wrapper {
  background-image: radial-gradient(circle, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c); }
