@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
:root {
  --base-fz-mobile: 12px;
  --base-ws-global: 1.5em;
  --base-lt-global: 3em;
  --base-fz-tablet: 14px;
  --base-fz-laptop: 16px;
  --base-fz-desktop: 18px;
  --base-fz-tv: 20px;
  --base-padding: 2rem;
  --base-margin: 2rem 0;
  --article-h1-brdrd: 0.5em;
  --base-text-color: #FFFFFF;
  --base-color-brd-hover: #00FFFF;
  --base-color-brd-focus: #F30808;
  --base-inp-padleft: 0.3rem;
  --base-brdrd-pad: 0.3em;
  --basic-animation-duration: 0.6s;
  --basic-animation-delay: 0.2s; }

.header-top-menu ul li:nth-child(1), .header-top-menu ul li:nth-child(2), .header-top-menu ul li:nth-child(3), .header-top-menu ul li:nth-child(4), .header-top-menu ul .search, .main-nav ul li:nth-child(6), .main-nav ul li:nth-child(7), .main-nav ul li:nth-child(8), .main-nav ul li:nth-child(9) {
  position: relative;
  opacity: 0;
  -webkit-animation-duration: var(--basic-animation-duration);
          animation-duration: var(--basic-animation-duration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: list-animation-left;
          animation-name: list-animation-left; }

.main-nav ul li:nth-child(1), .main-nav ul li:nth-child(2), .main-nav ul li:nth-child(3), .main-nav ul li:nth-child(4) {
  position: relative;
  opacity: 0;
  -webkit-animation-duration: var(--basic-animation-duration);
          animation-duration: var(--basic-animation-duration);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: list-animation-right;
          animation-name: list-animation-right; }

/*
 * MENU AND NAVIGATION TOP ANIMATIONS
 */
@-webkit-keyframes list-animation-right {
  0% {
    left: -5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes list-animation-right {
  0% {
    left: -5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes list-animation-left {
  0% {
    left: 5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@keyframes list-animation-left {
  0% {
    left: 5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

/* Set box-sizing */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Reset whitespace */
* {
  padding: 0;
  margin: 0; }

/* Typography Global Styles */
html {
  font-size: var(--base-fz-mobile);
  line-height: 1.5;
  font-family: "PT Serif", Georgia, Tahoma, serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--base-fz-tablet); } }

@media (min-width: 1260px) {
  html {
    font-size: var(--base-fz-laptop); } }

@media (min-width: 1420px) {
  html {
    font-size: var(--base-fz-desktop); } }

@media (min-width: 1660px) {
  html {
    font-size: var(--base-fz-tv); } }

p {
  padding-bottom: 1em; }

body, p, table, form, input, select, textarea, button, a, i, span {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 calc( var(--sizing-ws-base) / 3) 0;
  padding: 0; }

h6 {
  padding-bottom: 0.5rem; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

.ampersand {
  font-weight: bold;
  font-size: 1.2em;
  color: #000; }

li {
  list-style: none outside; }

a {
  text-decoration: none;
  color: var(--base-text-color); }

button,
input[type="submit"],
.button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #369;
  color: var(--base-text-color);
  border: none;
  text-decoration: none;
  border-radius: var(--base-brdrd-pad); }

button:hover,
input[type="submit"]:hover,
.button:hover {
  background: #00FFFF;
  color: #000; }

@media (max-width: 1024px) {
  button,
  input[type="submit"],
  .button {
    padding: 1em 1.5em; } }

body {
  background: #CCC; }

article {
  padding: var(--base-padding); }

article h1,
article h2 {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  color: var(--base-text-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  padding: var(--base-padding);
  border-radius: var(--article-h1-brdrd);
  margin: var(--base-margin); }

article header {
  display: flex;
  justify-content: center; }

.site-content {
  background: #03c903;
  min-height: 100vh; }

.header {
  background: #FFF; }

.navigation {
  display: flex;
  background: green;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 990px) {
    .navigation {
      flex-direction: column;
      align-items: flex-start; } }

.site-footer {
  background-image: linear-gradient(to right top, #79f149, #60c936, #49a324, #327f12, #1b5c01);
  padding: 0.5rem 0 0.5rem 1rem;
  color: #FFF; }

.maker {
  float: right;
  padding-right: 1rem; }

/* 
 * HEADER TOP MENU
 */
.header-top-menu {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 20%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  background-image: linear-gradient(to right top, #79f149, #60c936, #49a324, #327f12, #1b5c01);
  padding: 0.5rem 1rem; }
  .header-top-menu i {
    color: var(--base-text-color);
    padding-right: 0.2rem; }
  .header-top-menu ul {
    display: flex; }
    .header-top-menu ul li {
      padding-right: 1.5rem; }
      .header-top-menu ul li .ht-map::before {
        font-family: "Font Awesome 5 Free";
        content: '\f3c5';
        font-weight: 900; }
      .header-top-menu ul li .ht-mobile::before {
        font-family: "Font Awesome 5 Free";
        content: '\f3cd';
        font-weight: 900; }
      .header-top-menu ul li .ht-mail::before {
        font-family: "Font Awesome 5 Free";
        content: '\f0e0';
        font-weight: 900; }
      .header-top-menu ul li .ht-facebook::before {
        font-family: "Font Awesome 5 Brands";
        content: '\f09a';
        font-weight: 700; }
      .header-top-menu ul li a:hover {
        color: yellow; }
  .header-top-menu .search {
    display: flex;
    padding-left: 2rem; }
    .header-top-menu .search input {
      padding-left: 0.4rem;
      width: 80%; }
  .header-top-menu .search::before {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    font-weight: 900;
    color: #FFF;
    padding-right: 0.4rem; }

/*
 * HEADER TOP MENU - ANIMATION RIGHT
 */
.header-top-menu ul li:nth-child(2) {
  -webkit-animation-delay: var(--basic-animation-delay);
          animation-delay: var(--basic-animation-delay); }

.header-top-menu ul li:nth-child(3) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 2);
          animation-delay: calc(var(--basic-animation-delay) * 2); }

.header-top-menu ul li:nth-child(4) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 3);
          animation-delay: calc(var(--basic-animation-delay) * 3); }

.header-top-menu ul .search {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 4);
          animation-delay: calc(var(--basic-animation-delay) * 4); }

@media (max-width: 990px) {
  .header-top-menu ul li a span {
    display: none; } }

/*

 * HEADER MAIN NAVIGATION 

 */
.main-nav {
  margin: auto; }
  .main-nav .chevron::after {
    font-family: "Font Awesome 5 Free";
    content: '\f078';
    font-weight: 900;
    color: #FFF; }
  .main-nav > ul {
    display: flex;
    align-items: center;
    opacity: 0.8; }
    @media (max-width: 990px) {
      .main-nav > ul {
        flex-direction: column;
        align-items: flex-start; }
        .main-nav > ul li {
          padding-left: 2rem;
          text-align: left;
          align-items: flex-start; }
        .main-nav > ul .main-nav > ul > li {
          text-align: center; }
        .main-nav > ul .li-logo {
          display: none; }
        .main-nav > ul .child-page li {
          display: block;
          padding-left: 1.5rem; }
        .main-nav > ul .chevron::after {
          display: none; } }
    .main-nav > ul li {
      padding-right: 1rem;
      margin-right: 0.3rem; }
      @media (min-width: 991px) {
        .main-nav > ul li {
          padding: 0 0.5rem; } }
      .main-nav > ul li a {
        font-size: 1.3em;
        color: #FFF; }
    .main-nav > ul .li-logo {
      border-radius: 50%; }
    .main-nav > ul a:hover {
      color: aqua; }
  @media (min-width: 991px) {
    .main-nav > ul > li > ul {
      opacity: 0;
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
      padding-top: 0.5em; }
    .main-nav > ul ul {
      display: block;
      position: absolute;
      background: rgba(0, 128, 0, 0.8);
      z-index: 100;
      pointer-events: none;
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      overflow: hidden; }
    .main-nav > ul ul li {
      padding: 1em 2.5em 1em 1rem;
      margin-right: 1rem; }
    .main-nav li:hover > ul {
      pointer-events: all; }
    .main-nav > ul > li:hover > ul {
      -webkit-transform: translateX(-1rem);
              transform: translateX(-1rem);
      opacity: 1; } }
  @media (max-width: 990px) {
    .main-nav {
      width: 100%; }
      #toggle-main-nav + .site-header .main-nav {
        display: none; }
      #toggle-main-nav:checked + .site-header .main-nav {
        display: block; } }

#toggle-main-nav-button {
  color: #FFF;
  float: right; }
  @media (max-width: 990px) {
    #toggle-main-nav-button {
      display: block; } }
  @media (min-width: 991px) {
    #toggle-main-nav-button {
      display: none; } }

#toggle-main-nav {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

/*
 * HEADER MAIN NAVIGATION - ANIMATION
 */
.main-nav ul li:nth-child(1) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 3);
          animation-delay: calc(var(--basic-animation-delay) * 3); }

.main-nav ul li:nth-child(2) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 2);
          animation-delay: calc(var(--basic-animation-delay) * 2); }

.main-nav ul li:nth-child(3) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 1);
          animation-delay: calc(var(--basic-animation-delay) * 1); }

.main-nav ul li:nth-child(7) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 1);
          animation-delay: calc(var(--basic-animation-delay) * 1); }

.main-nav ul li:nth-child(8) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 2);
          animation-delay: calc(var(--basic-animation-delay) * 2); }

.main-nav ul li:nth-child(9) {
  -webkit-animation-delay: calc(var(--basic-animation-delay) * 3);
          animation-delay: calc(var(--basic-animation-delay) * 3); }

fieldset {
  border: 2px solid #CCC;
  padding: 1.5em 2em; }

fieldset + fieldset {
  margin-top: 2em; }

fieldset p {
  padding-bottom: 1em; }

p.submit {
  padding-top: 0.5em;
  margin-top: 2em; }

legend {
  padding: 0 0.5em;
  font-weight: bold;
  font-style: 1.2em; }

select,
input {
  display: block;
  width: 20%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select:focus,
input:focus {
  border-color: #47A; }

select {
  background: url("chevron-down-solid.svg") 99% center no-repeat;
  background-size: 0.8em auto; }

input[type="submit"] {
  width: auto;
  border: 2px solid #CCC;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: #369;
  color: #FFF;
  border-color: #258;
  cursor: pointer; }

.input-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  position: relative; }

.input-wrapper i {
  display: flex;
  align-items: center;
  border: 2px solid #CCC;
  background-origin: 0.3em;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }

.input-wrapper i::before {
  padding: 0 0.4em; }

.input-wrapper input {
  order: 2;
  margin-left: 1em; }

input:focus + i {
  color: #47A;
  border-color: #47A; }

.table-wrapper {
  width: 100%; }

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  width: 90%; }
  table tr th {
    background: #CCC;
    padding: 0.5rem 0; }
  table tr td {
    padding: 1rem 0; }
  table tr:nth-child(odd) {
    background: #999; }
  table h6, table span {
    padding: 0 0.5rem; }

.salsa-kids {
  background: yellow; }

.hora-kids {
  background: #e0e003; }

.salsa-beginners {
  background: lime; }

.hora-beginners {
  background: green; }

.salsa-advanced {
  background: red; }

.hora-advanced {
  background: #fc4222; }

.ensemble {
  background: lightblue; }

ul.galery {
  padding-left: 0; }

ul.galery li {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  margin-right: 1.5%;
  margin-bottom: 1.5em; }

ul.galery li:nth-child(3n+3) {
  margin-right: 0; }

ul.galery img {
  display: block;
  width: 100%;
  height: auto;
  border: 0.5rem solid black;
  padding: 1rem;
  background: white;
  outline: 1rem solid yellow;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6); }

.contacts {
  background-image: linear-gradient(to right top, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c); }
  .contacts section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "adr adr evp . map" "tel tel fac . map" "msg msg msg . map" "msg msg msg . map";
    color: var(--base-text-color);
    width: 100%; }
    .contacts section .address {
      grid-area: adr; }
    .contacts section .email {
      grid-area: evp; }
    .contacts section .telephone {
      grid-area: tel; }
    .contacts section .social {
      grid-area: fac; }
    .contacts section iframe {
      grid-area: map; }
    .contacts section .message {
      grid-area: msg; }
    .contacts section p a:hover {
      color: var(--base-color-brd-hover); }
    .contacts section p:nth-child(3),
    .contacts section p:nth-child(4) {
      padding-bottom: 0; }
    .contacts section .message h2 {
      background: none;
      text-align: center;
      padding-right: 10rem; }
    .contacts section .message p {
      padding-bottom: 0.5rem; }
    .contacts section .message p:nth-child(5) {
      padding-bottom: 0; }
    .contacts section .message input,
    .contacts section .message textarea {
      border: 2px solid #000;
      border-radius: var(--base-brdrd-pad); }
    .contacts section .message input {
      width: 80%;
      padding: 0.2rem 0 0.2rem var(--base-inp-padleft);
      border-radius: var(--base-brdrd-pad); }
    .contacts section .message textarea {
      padding-left: var(--base-inp-padleft);
      width: 45%;
      height: auto; }
    .contacts section .message input:hover,
    .contacts section .message textarea:hover {
      border: 2px solid var(--base-color-brd-hover); }
    .contacts section .message input:focus,
    .contacts section .message textarea:focus {
      border: 2px solid var(--base-color-brd-focus); }
    .contacts section .message button {
      padding: 0.4rem var(--base-padding); }
    @media (max-width: 990px) {
      .contacts section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "adr" "tel" "evp" "fac" "msg" "map"; }
        .contacts section p.telephone {
          padding-bottom: 0.5rem; }
        .contacts section .message {
          padding: 1rem; } }

/* ABOUT US */
.about section p {
  text-align: center; }

/* HOME PAGE */
.main-page {
  background: url("/AbraksDanceClub/images/bg-home.jpg") no-repeat center center;
  background-position: center 50%;
  background-size: cover; }
  .main-page section {
    font-size: 300%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    color: green;
    border-radius: 0.5em;
    font-weight: bold; }
    .main-page section h4 {
      font-size: 100%;
      padding: 2rem;
      font-weight: bold; }
    .main-page section p {
      line-height: 1;
      display: block; }
    .main-page section p:nth-child(6) {
      padding-bottom: 0; }
