@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&subset=cyrillic,cyrillic-ext");
.main-nav ul li:nth-child(6), .main-nav ul li:nth-child(7), .main-nav ul li:nth-child(8), .main-nav ul li:nth-child(9), .main-nav ul li:nth-child(1), .main-nav ul li:nth-child(2), .main-nav ul li:nth-child(3), .main-nav ul li:nth-child(4), .header-top-menu ul li:nth-child(1), .header-top-menu ul li:nth-child(2), .header-top-menu ul li:nth-child(3), .header-top-menu ul li:nth-child(4), .header-top-menu ul .search {
  position: relative;
  opacity: 0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.main-nav ul li:nth-child(6), .main-nav ul li:nth-child(7), .main-nav ul li:nth-child(8), .main-nav ul li:nth-child(9) {
  -webkit-animation-name: list-animation-left;
          animation-name: list-animation-left; }

.main-nav ul li:nth-child(1), .main-nav ul li:nth-child(2), .main-nav ul li:nth-child(3), .main-nav ul li:nth-child(4) {
  -webkit-animation-name: list-animation-right;
          animation-name: list-animation-right; }

.header-top-menu ul li:nth-child(1), .header-top-menu ul li:nth-child(2), .header-top-menu ul li:nth-child(3), .header-top-menu ul li:nth-child(4), .header-top-menu ul .search {
  -webkit-animation-name: list-animation-top;
          animation-name: list-animation-top; }

/*
 * MENU AND NAVIGATION TOP ANIMATIONS
 */
@-webkit-keyframes list-animation-right {
  0% {
    left: -5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes list-animation-right {
  0% {
    left: -5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes list-animation-left {
  0% {
    left: 5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@keyframes list-animation-left {
  0% {
    left: 5rem;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes list-animation-top {
  0% {
    top: -5rem;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes list-animation-top {
  0% {
    top: -5rem;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

/*
 * HEADER TOP MENU - ANIMATION TOP
 */
.header-top-menu ul li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.header-top-menu ul li:nth-child(3) {
  -webkit-animation-delay: calc(0.2s * 2);
          animation-delay: calc(0.2s * 2); }

.header-top-menu ul li:nth-child(4) {
  -webkit-animation-delay: calc(0.2s * 3);
          animation-delay: calc(0.2s * 3); }

.header-top-menu ul .search {
  -webkit-animation-delay: calc(0.2s * 4);
          animation-delay: calc(0.2s * 4); }

/*
 * HEADER MAIN NAVIGATION - ANIMATION
 */
.main-nav ul li:nth-child(1) {
  -webkit-animation-delay: calc(0.2s * 3);
          animation-delay: calc(0.2s * 3); }

.main-nav ul li:nth-child(2) {
  -webkit-animation-delay: calc(0.2s * 2);
          animation-delay: calc(0.2s * 2); }

.main-nav ul li:nth-child(3) {
  -webkit-animation-delay: calc(0.2s * 1);
          animation-delay: calc(0.2s * 1); }

.main-nav ul li:nth-child(7) {
  -webkit-animation-delay: calc(0.2s * 1);
          animation-delay: calc(0.2s * 1); }

.main-nav ul li:nth-child(8) {
  -webkit-animation-delay: calc(0.2s * 3);
          animation-delay: calc(0.2s * 3); }

.main-nav ul li:nth-child(9) {
  -webkit-animation-delay: calc(0.2s * 4);
          animation-delay: calc(0.2s * 4); }

/* 
 * Set box-sizing
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*
 * Reset whitespace
 */
* {
  padding: 0;
  margin: 0; }

/*
 * Typography Global Styles
 */
html {
  font-size: 12px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif; }

@media (min-width: 600px) {
  html {
    font-size: 14px; } }

@media (min-width: 1260px) {
  html {
    font-size: 16px; } }

p {
  padding-bottom: 1em; }

body, p, table, form, input, select, textarea, button, a, i, span {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', sans-serif;
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 calc( $sizing-ws-base / 2) 0; }

h6 {
  padding-bottom: 0.5rem; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.2rem; }

h4 {
  font-size: 2.0rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

.ampersand {
  font-weight: bold;
  font-size: 1.2em;
  color: #000; }

li {
  list-style: none outside; }

a {
  text-decoration: none;
  color: #FFFFFF; }

button,
input[type="submit"],
.button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #73E744;
  color: #000;
  border: none;
  text-decoration: none;
  border-radius: 0.3em; }

button:hover,
input[type="submit"]:hover,
.button:hover {
  background: #00FFFF;
  color: #000; }

@media (max-width: 1024px) {
  button,
  input[type="submit"],
  .button {
    padding: 1em 1.5em; } }

body {
  max-width: 1900px;
  color: #FFFFFF; }

article {
  padding: 2rem; }

article {
  min-height: 100vh; }
  article h1,
  article h2 {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    text-indent: 0.3em;
    padding: 2rem;
    border-radius: 0.5em;
    margin: 2rem 0.5rem 3rem 0.5rem; }
  article header {
    display: flex;
    justify-content: center; }

.site-content {
  min-height: 100vh; }

/*
 * BACKGROUNDS GREEN
 */
.header-top-menu,
.site-footer {
  background-image: linear-gradient(to left top, #79f149, #60c936, #49a324, #327f12, #1b5c01); }

.navigation {
  background: #0D380B; }

.about-wrapper {
  background-image: linear-gradient(to right top, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.achievments-wrapper {
  background-image: linear-gradient(to left, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.contacts-wrapper {
  background-image: linear-gradient(to right top, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.dh-dupnica-wrapper {
  background-image: linear-gradient(to bottom, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.dh-djerman-wrapper {
  background-image: linear-gradient(to bottom right, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.gallery-salsa-wrapper {
  background-image: linear-gradient(to left top, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.gallery-hora-wrapper {
  background-image: linear-gradient(to left bottom, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.gr-kids-wrapper {
  background-image: linear-gradient(to bottom right, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.gr-beginners-wrapper {
  background-image: linear-gradient(to top right, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.gr-advanced-wrapper {
  background-image: linear-gradient(to top left, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.gr-ensemble-wrapper {
  background-image: radial-gradient(circle, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.home-festival-wrapper {
  background-image: linear-gradient(to bottom, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.table-wrapper {
  background-image: linear-gradient(to right bottom, #11430e, #16500f, #1d5d0f, #246b0e, #2c790b); }

.header {
  background: #FFF; }

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 990px) {
    .navigation {
      flex-direction: column;
      align-items: flex-start; } }

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem 1rem;
  color: #FFFFFF;
  text-shadow: 1px 1px 5px #000; }
  .site-footer .footer-logo {
    text-transform: uppercase; }
    @media (max-width: 700px) {
      .site-footer .footer-logo {
        display: none; } }
  .site-footer .maker {
    float: right;
    padding-right: 1rem; }

/*
 * HEADER TOP MENU
 */
.header-top-menu {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 20%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  text-shadow: 1px 1px 5px #000; }
  .header-top-menu i {
    color: #FFFFFF;
    padding-right: 0.2rem; }
  .header-top-menu ul {
    display: flex; }
    .header-top-menu ul li {
      padding-right: 1.5rem; }
      .header-top-menu ul li .ht-map::before {
        font-family: "Font Awesome 5 Free";
        content: '\f3c5';
        font-weight: 900; }
      .header-top-menu ul li .ht-mobile::before {
        font-family: "Font Awesome 5 Free";
        content: '\f3cd';
        font-weight: 900; }
      .header-top-menu ul li .ht-mail::before {
        font-family: "Font Awesome 5 Free";
        content: '\f0e0';
        font-weight: 900; }
      .header-top-menu ul li .ht-facebook::before {
        font-family: "Font Awesome 5 Brands";
        content: '\f09a';
        font-weight: 700; }
      .header-top-menu ul li a:hover {
        color: yellow; }
      @media (max-width: 700px) {
        .header-top-menu ul li {
          font-size: 1.2em; } }
  .header-top-menu .search {
    display: flex;
    padding-left: 2rem; }
    .header-top-menu .search input {
      padding-left: 0.4rem;
      width: 80%; }
  .header-top-menu .search::before {
    font-family: "Font Awesome 5 Free";
    content: '\f002';
    font-weight: 900;
    color: #FFFFFF;
    padding-right: 0.4rem; }

@media (max-width: 1120px) {
  .header-top-menu ul li a span {
    display: none; } }

/*
 * HEADER MAIN NAVIGATION
 */
.main-nav {
  margin: auto;
  text-shadow: 1px 1px 5px #000; }
  .main-nav > ul {
    display: flex;
    align-items: center;
    opacity: 0.8; }
    @media (max-width: 990px) {
      .main-nav > ul {
        flex-direction: column;
        align-items: flex-start; }
        .main-nav > ul li {
          padding-left: 2rem;
          text-align: left;
          align-items: flex-start; }
        .main-nav > ul .main-nav > ul > li {
          text-align: center; }
        .main-nav > ul .li-logo {
          display: none; }
        .main-nav > ul .child-page li {
          display: block;
          padding-left: 1.5rem; }
        .main-nav > ul .chevron::after {
          display: none; } }
    .main-nav > ul li {
      padding-right: 1rem;
      margin-right: 0.3rem; }
      @media (min-width: 991px) {
        .main-nav > ul li {
          padding: 0 0.5rem; } }
      .main-nav > ul li a {
        font-size: 1.3em;
        color: #FFFFFF; }
    .main-nav > ul .li-logo {
      padding-top: 0.5rem; }
    .main-nav > ul a:hover {
      color: aqua; }
    .main-nav > ul .chevron {
      cursor: default; }
      .main-nav > ul .chevron::after {
        font-family: "Font Awesome 5 Free";
        content: '\f078';
        font-weight: 900;
        color: #FFFFFF; }
      @media (max-width: 700px) {
        .main-nav > ul .chevron > a > span {
          opacity: 0.5; } }
    @media (max-width: 700px) {
      .main-nav > ul {
        font-size: 1.2em; } }
  @media (min-width: 991px) {
    .main-nav > ul > li > ul {
      opacity: 0;
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
      padding-top: 0.5em; }
    .main-nav > ul ul {
      display: block;
      position: absolute;
      background: rgba(13, 56, 11, 0.8);
      z-index: 100;
      pointer-events: none;
      border-bottom-left-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
      overflow: hidden; }
    .main-nav > ul ul li {
      padding: 1em 2.5em 1em 1rem;
      margin-right: 1rem; }
    .main-nav li:hover > ul {
      pointer-events: all; }
    .main-nav > ul > li:hover > ul {
      -webkit-transform: translateX(-1rem);
              transform: translateX(-1rem);
      opacity: 1; } }
  @media (max-width: 990px) {
    .main-nav {
      width: 100%; }
      #toggle-main-nav + .site-header .main-nav {
        display: none; }
      #toggle-main-nav:checked + .site-header .main-nav {
        display: block; } }

.home-btn,
#toggle-main-nav-button {
  cursor: pointer; }
  @media (max-width: 990px) {
    .home-btn,
    #toggle-main-nav-button {
      display: block; } }
  @media (min-width: 991px) {
    .home-btn,
    #toggle-main-nav-button {
      display: none; } }

.mobile-main-nav {
  display: flex;
  align-items: center; }
  .mobile-main-nav .bars:before {
    font-family: "Font Awesome 5 Free";
    content: '\f0c9';
    font-weight: 900; }

#toggle-main-nav-button {
  font-size: 200%;
  color: #FFFFFF;
  padding: 0.5rem; }

.home-btn {
  position: absolute;
  right: 0; }
  .home-btn img {
    width: 40%;
    height: auto; }

#toggle-main-nav {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

#theme-gl-toggle {
  position: absolute;
  top: 50%;
  opacity: 0;
  pointer-events: none; }

fieldset {
  border: 2px solid #CCC;
  padding: 1.5em 2em; }

fieldset + fieldset {
  margin-top: 2em; }

fieldset p {
  padding-bottom: 1em; }

p.submit {
  padding-top: 0.5em;
  margin-top: 2em; }

legend {
  padding: 0 0.5em;
  font-weight: bold;
  font-style: 1.2em; }

select,
input {
  display: block;
  width: 20%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select:focus,
input:focus {
  border-color: #47A; }

select {
  background: url("chevron-down-solid.svg") 99% center no-repeat;
  background-size: 0.8em auto; }

input[type="submit"] {
  width: auto;
  border: 2px solid #CCC;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: #369;
  color: #FFFFFF;
  border-color: #258;
  cursor: pointer; }

.input-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  position: relative; }

.input-wrapper i {
  display: flex;
  align-items: center;
  border: 2px solid #CCC;
  background-origin: 0.3em;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }

.input-wrapper i::before {
  padding: 0 0.4em; }

.input-wrapper input {
  order: 2;
  margin-left: 1em; }

input:focus + i {
  color: #47A;
  border-color: #47A; }

.table-wrapper {
  width: 100%;
  color: #000; }

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  width: 90%;
  text-shadow: 1px 1px 0px #000; }
  table tr th {
    background: #CCC;
    padding: 0.5rem 0; }
  table tr td {
    padding: 1rem 0; }
  table tr:nth-child(odd) {
    background: #999; }
  table h6, table span {
    padding: 0 0.5rem; }

.salsa-kids {
  background-image: radial-gradient(circle, #ffff00, #f6f604, #eeee07, #e5e50a, #dddd0c); }

.hora-kids {
  background: #e0e003; }

.salsa-beginners {
  background: lime; }

.hora-beginners {
  background: green; }

.salsa-advanced {
  background: #f72929; }

.hora-advanced {
  background: #fc4222; }

.ensemble {
  background: lightblue; }

/* SCHEDULE MOBILE VERSION */
.schedule-mobile {
  display: none; }

@media (max-width: 990px) {
  .schedule-laptop {
    display: none; }
  .table-wrapper {
    display: flex;
    flex-direction: column; }
  .schedule-mobile {
    display: inline-block;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    padding: 1rem;
    text-shadow: 1px 1px 5px #000; }
    .schedule-mobile li {
      color: #FFFFFF;
      padding-bottom: 1rem; }
      .schedule-mobile li span {
        padding-bottom: 0.1rem; }
  .day > span {
    border-bottom: 2px solid #999; }
  .day > ul > li:nth-child(1) {
    padding-top: 1rem; }
    .day > ul > li:nth-child(1) span::before {
      border-bottom: 2px solid yellow; } }

.about-wrapper img,
.achievments-wrapper img,
.gallery-salsa img,
.gallery-hora img {
  border: 2px solid #777;
  border-radius: 0.3em;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75); }

.main-page-wrapper {
  position: relative;
  background: url("/AbraksDanceClub/images/home.jpg") no-repeat center center;
  background-position: center;
  background-size: cover; }
  .main-page-wrapper header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15rem; }
    .main-page-wrapper header h2,
    .main-page-wrapper header h3 {
      background: none;
      display: inline-block;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px #000;
      padding: 1rem 0; }
  .main-page-wrapper section {
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 6px 5px #000;
    color: #FFFFFF;
    border-radius: 0.5em;
    font-weight: bold;
    margin-top: 15rem; }
    .main-page-wrapper section h4 {
      font-size: 100%;
      padding: 2rem;
      font-weight: bold;
      text-transform: uppercase; }
    .main-page-wrapper section p {
      line-height: 1;
      display: block;
      opacity: 1;
      text-shadow: 3px 6px 5px #000; }
    .main-page-wrapper section p:nth-child(6) {
      padding-bottom: 0; }
  .main-page-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

/*
 * SALSA
 */
.gallery-hora,
.gallery-salsa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row dense;
  gap: 2rem; }
  .gallery-hora div,
  .gallery-salsa div {
    position: relative; }
    .gallery-hora div img,
    .gallery-salsa div img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.54); }
  .gallery-hora div:hover,
  .gallery-salsa div:hover {
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 13; }
  .gallery-hora .landscape,
  .gallery-salsa .landscape {
    grid-column-end: span 2; }
  @media (max-width: 990px) {
    .gallery-hora,
    .gallery-salsa {
      grid-template-columns: repeat(2, 1fr); } }

/*
 * HORA
 */
.gallery-hora {
  grid-template-columns: repeat(5, 1fr); }
  @media (max-width: 990px) {
    .gallery-hora {
      grid-template-columns: repeat(2, 1fr); }
      .gallery-hora .mobile-hide {
        display: none; } }

.dh-djerman-wrapper section,
.dh-dupnica-wrapper section {
  margin-left: 1rem;
  overflow: hidden; }
  @media (max-width: 700px) {
    .dh-djerman-wrapper section,
    .dh-dupnica-wrapper section {
      text-align: center; } }
  .dh-djerman-wrapper section p,
  .dh-dupnica-wrapper section p {
    font-size: 1.2em;
    padding: 0 0.5rem 3rem 0; }
    .dh-djerman-wrapper section p:nth-of-type(1),
    .dh-dupnica-wrapper section p:nth-of-type(1) {
      padding-top: 2rem; }
  .dh-djerman-wrapper section img,
  .dh-dupnica-wrapper section img {
    width: 30%;
    height: 100%;
    float: left;
    clear: both;
    margin: 2rem;
    border-radius: 0.3em;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75); }
    @media (max-width: 700px) {
      .dh-djerman-wrapper section img,
      .dh-dupnica-wrapper section img {
        width: 80%;
        float: none;
        margin-bottom: 1rem; } }

.gr {
  text-align: center; }
  .gr section {
    margin-right: 1rem;
    overflow: hidden; }
    .gr section p {
      margin: 0 8rem;
      padding-bottom: 8em;
      font-size: 1.2em; }
      @media (max-width: 700px) {
        .gr section p {
          margin: 0; } }

.achievments-wrapper .cup-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .achievments-wrapper .cup-list li {
    flex: 0 1 30%;
    text-align: center;
    margin: 0 1rem 2rem 0; }
    @media (max-width: 700px) {
      .achievments-wrapper .cup-list li {
        flex-basis: 80%; } }
    .achievments-wrapper .cup-list li::nth-child(1) {
      margin-top: 0; }
    .achievments-wrapper .cup-list li .img-wrapper {
      position: relative; }
      .achievments-wrapper .cup-list li .img-wrapper::after {
        display: block;
        content: '';
        padding-top: 59%; }
      .achievments-wrapper .cup-list li .img-wrapper img {
        display: block;
        position: absolute;
        left: 10%;
        right: 0;
        width: 75%;
        height: auto; }
      .achievments-wrapper .cup-list li .img-wrapper img:hover {
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
        z-index: 5; }
    .achievments-wrapper .cup-list li p {
      border: 2px solid #777;
      font-size: 1.2em;
      text-shadow: 1px 1px 3px #000;
      box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
      border-radius: 0.3em;
      padding: 0.2rem;
      margin: 0.7rem 0; }
    .achievments-wrapper .cup-list li p:nth-child(1) {
      margin-bottom: 1rem; }

.contacts-wrapper section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "adr adr evp . map" "tel tel fac . map" "msg msg msg . map" "msg msg msg . map";
  color: #FFFFFF;
  width: 100%;
  text-shadow: 1px 1px 5px #000; }
  .contacts-wrapper section .address {
    grid-area: adr; }
  .contacts-wrapper section .email {
    grid-area: evp; }
  .contacts-wrapper section .telephone {
    grid-area: tel; }
  .contacts-wrapper section .social {
    grid-area: fac; }
  .contacts-wrapper section iframe {
    grid-area: map; }
  .contacts-wrapper section .message {
    grid-area: msg; }
  .contacts-wrapper section p a:hover {
    color: #00FFFF; }
  .contacts-wrapper section p:nth-child(3),
  .contacts-wrapper section p:nth-child(4) {
    padding-bottom: 0; }
  .contacts-wrapper section .message h2 {
    background: none;
    text-align: center;
    padding-right: 10rem; }
  .contacts-wrapper section .message p {
    padding-bottom: 0.5rem; }
  .contacts-wrapper section .message p:nth-child(5) {
    padding-bottom: 0; }
  .contacts-wrapper section .message input,
  .contacts-wrapper section .message textarea {
    border: 2px solid #000;
    border-radius: 0.3em; }
  .contacts-wrapper section .message input {
    width: 80%;
    padding: 0.2rem 0 0.2rem 0.3rem;
    border-radius: 0.3em; }
  .contacts-wrapper section .message textarea {
    padding-left: 0.3rem;
    width: 45%;
    height: auto; }
  .contacts-wrapper section .message input:hover,
  .contacts-wrapper section .message textarea:hover {
    border: 2px solid #00FFFF; }
  .contacts-wrapper section .message input:focus,
  .contacts-wrapper section .message textarea:focus {
    border: 2px solid #F30808; }
  .contacts-wrapper section .message button {
    padding: 0.4rem 2rem; }
  @media (max-width: 990px) {
    .contacts-wrapper section {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "adr" "tel" "evp" "fac" "msg" "map"; }
      .contacts-wrapper section p.telephone {
        padding-bottom: 0.5rem; }
      .contacts-wrapper section .message {
        padding: 1rem; }
      .contacts-wrapper section iframe {
        width: 300px;
        height: 300px; } }

.about-wrapper section {
  text-align: center; }
  .about-wrapper section p {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 2rem; }
  .about-wrapper section img {
    width: 60%;
    height: auto; }

.home-festival-wrapper section {
  margin-right: 1rem;
  overflow: hidden; }
  @media (max-width: 700px) {
    .home-festival-wrapper section {
      text-align: center; } }
  .home-festival-wrapper section img {
    width: 30%;
    height: auto;
    float: right;
    clear: both;
    border-radius: 0.3em;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
    margin: 1rem; }
    @media (max-width: 700px) {
      .home-festival-wrapper section img {
        width: 80%;
        float: none;
        margin-bottom: 1rem; } }
  .home-festival-wrapper section p {
    padding-bottom: 2rem;
    font-size: 1.2em; }
    .home-festival-wrapper section p:nth-of-type(1) {
      padding-top: 2rem; }
