<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.url != '/' %}{{ page.title }}{% else %}Начало{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/site.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <input type="checkbox" id="toggle-main-nav">
    <header class="site-header">
      <div>
        {% include header-top.html %}
      </div>
      
      <div class="navigation">
        {% include navigation.html %}
      </div>
    </header>

    <main class="site-content">
      {{ content }}
    </main>
    
    <footer class="site-footer">
     <span>&copy; Abraks Dance Club 2019</span>
     <span class="maker">Дизайн: Ceappie</span>
    </footer>
  </body>
</html>