.about-wrapper {
    background-image: linear-gradient(to right top, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c);

    section {
        text-align: center;

        p {
            text-align: justify;
            font-size: 1.2em;
            padding-bottom: 2rem;
        }

        img {
            width: 60%;
            height: auto;
        }
    }
}