.about-wrapper {

    section {
        text-align: center;

        p {
            text-align: center;
            font-size: $base-fz-zoom;
            padding-bottom: 2rem;
        }

        img {
            width: 60%;
            height: auto;
        }
    }
}