.dh-djerman-wrapper,
.dh-dupnica-wrapper {

    section {
        margin-left: 1rem;
        overflow: hidden;

        @include rp ('mobile') {
            text-align: center;
        }

        p {
            font-size: $base-fz-zoom;
            padding: 0 0.5rem 3rem 0;

            &:nth-of-type(1) {
                padding-top: 2rem;
            }
        }

        img {
            width: 30%;
            height: 100%;
            float: left;
            clear: both;
            margin: 2rem;
            border-radius: 0.3em;
            box-shadow: $base-box-shadow;

            @include rp('mobile') {
                width: 80%;
                float: none;
                margin-bottom: 1rem;
            }
        }
    }
}