.home-festival-wrapper {

    section {
        margin-right: 1rem;
        overflow: hidden;
    
        @include rp ('mobile') {
            text-align: center;
        }

        img {
            width: 30%;
            height: auto;
            float: right;
            clear: both;
            border-radius: 0.3em;
            box-shadow: $base-box-shadow;
            margin: 1rem;

            @include rp('mobile') {
                width: 80%;
                float: none;
                margin-bottom: 1rem;
            }
        }

        p {
            padding-bottom: 2rem;
            font-size: $base-fz-zoom;

            &:nth-of-type(1) {
                padding-top: 2rem;
            }
        }
    }
}