.main-page-wrapper {
    position: relative;
    background: url('#{$baseurl}images/home.jpg') no-repeat center center;
    background-position: center;
    background-size: cover;

    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $base-text-color;
        margin-bottom: 15rem;
        
        h2,
        h3 {
            background: none;
            display: inline-block;
            text-transform: uppercase;
            text-shadow: $base-text-shadow;
            padding: 1rem 0;
        }
    }

    section {
        font-size: 2em;
        text-align: center;
        text-shadow: 3px 6px 5px #000;
        color: $base-text-color;
        border-radius: 0.5em;
        font-weight: bold;
        margin-top: 15rem;
        
        h4 {
            font-size: 100%;
            padding: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        p {
            line-height: 1;
            display: block;
            opacity: 1;
            text-shadow: 3px 6px 5px #000;
        }

        p:nth-child(6) {
            padding-bottom: 0;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}