ul.galery {
    padding-left: 0;
}

ul.galery {
    li {
    display: inline-block;
    width: 32%;
        vertical-align: top;
        margin-right: 1.5%;
        margin-bottom: 1.5em;
    }
}
ul.galery {
    
    li:nth-child(3n+3) {
        margin-right: 0;
    }
}

ul.galery {
    img {
        display: block;
        width: 100%;
        height: auto;
        border: 0.5rem solid black;
        padding: 1rem;
        background: white;
        outline: 1rem solid yellow;
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6);
    }
}