.contacts {
    background-image: linear-gradient(to right top, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c);;
}

.contacts {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "adr adr evp . map"
            "tel tel fac . map"
            "msg msg msg . map"
            "msg msg msg . map";
        color: var(--base-text-color);
        width: 100%;
    }
}

.contacts {

    section {

        .address{
            grid-area: adr;
        }

        .email{
            grid-area: evp;
        }

        .telephone{
            grid-area: tel;
        }

        .social{
            grid-area: fac;
        }

        iframe{
            grid-area: map;
        }

        .message {
            grid-area: msg;
        }

        p {

            a:hover {
                color: var(--base-color-brd-hover);
            }
        }

        p:nth-child(3),
        p:nth-child(4) {
            padding-bottom: 0;
        }

        .message {

            h2 {
                background: none;
                text-align: center;
                padding-right: 10rem;
            }

            p {
                padding-bottom: 0.5rem;
            }

            p:nth-child(5) {
                padding-bottom: 0;
            }

            input,
            textarea {
                border: 2px solid #000;
                border-radius: var(--base-brdrd-pad);
            }

            input {
                width: 80%;
                padding: 0.2rem 0 0.2rem var(--base-inp-padleft);
                border-radius: var(--base-brdrd-pad);
            }

            textarea {
                padding-left: var(--base-inp-padleft);
                width: 45%;
                height: auto;
            }

            input:hover,
            textarea:hover {
                border: 2px solid var(--base-color-brd-hover);
            }

            input:focus,
            textarea:focus {
                border: 2px solid var(--base-color-brd-focus);
            }

            button {
                padding: 0.4rem var(--base-padding);
             }
        }
    }
}

/* ABOUT US */


.about section p {
    text-align: center;
}