body {
    background: #CCC;
}

article {
    padding: var(--base-padding);
}

article {

    h1,
    h2 {
        display: block;
        background: rgba(0, 0,  0, 0.3);
        color: var(--base-text-color);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.3em;
        text-indent: 0.3em;
        padding: var(--base-padding);
        border-radius: var(--article-h1-brdrd);
        margin: var(--base-margin);
    }

    header {
        display: flex;
        justify-content: center;
    }
}

.site-content {
    background: rgb(3, 201, 3);
    min-height: 100vh;
}