$responsives: (
  'mobile':  ( max-width:  700px ),
  'tablet': ( max-width:  990px ),
  'laptop': ( min-width: 991px ),
  'desktop': ( min-width: 1200px )
) !default;

@mixin rp($responsive) {
    // If the key exists in the map
    @if map-has-key($responsives, $responsive) {
      // Prints a media query based on the value
      @media #{inspect(map-get($responsives, $responsive))} {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$responsive}`. "
          + "Available responsives are: #{map-keys($responsives)}.";
    }
}

$theme-map: (
  about-wrapper: linear-gradient(to right top, #f90211, #e80214, #d80316, #c70517, #b70718),
  achievments-wrapper: linear-gradient(to left, #f90211, #e80214, #d80316, #c70517, #b70718),
);

