.site-footer {
    background-image: linear-gradient(to right top, #79f149, #60c936, #49a324, #327f12, #1b5c01);
    padding: 0.5rem 0 0.5rem 1rem;
    color: #FFF;
}

.maker {
    float: right;
    padding-right: 1rem;
}