.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right top, #79f149, #60c936, #49a324, #327f12, #1b5c01);
    padding: 0.5rem 0 0.5rem 1rem;
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    
    .footer-logo {
        text-transform: uppercase;
    }

    .maker {
        float: right;
        padding-right: 1rem;
    }
}