.table-wrapper {
    background-image: linear-gradient(to right bottom, #09b263, #00bd59, #08c84c, #1fd33a, #35dd1c);
    width: 100%;
}

table {
    margin: 0 auto;
    border-collapse:collapse;
    table-layout: fixed;
    text-align: center;
    width: 90%;

    tr {

        th {
            background: #CCC;
            padding: 0.5rem 0;
        }

        td {
            padding: 1rem 0;
        }
    }

    tr:nth-child(odd) {
        background: #999;
    }

    h6, span {
        padding: 0 0.5rem;
    }
    
}

.salsa-kids {
    background: yellow;
}

.hora-kids {
    background: rgb(224, 224, 3);
}

.salsa-beginners {
    background: lime;
}

.hora-beginners {
    background: green;
}

.salsa-advanced {
    background: rgb(247, 41, 41);
}

.hora-advanced {
    background: rgb(252, 66, 34);
}

.ensemble {
    background: lightblue;
}


/* SCHEDULE MOBILE VERSION */

.schedule-mobile {
    display: none;
}

@include rp('tablet') {
    .schedule-laptop { display: none; }

    .table-wrapper {
        display: flex;
        flex-direction: column;
    }

    .schedule-mobile {
        display: inline-block;
        text-align: center;
        background: rgba(0, 0,  0, 0.3);
        border-radius: 0.3em;
        padding: 1rem;

        li {
            color: #FFF;
            padding-bottom: 1rem;

            span {
                padding-bottom: 0.1rem;
            }
        }
    }

    .day > span {
        border-bottom: 2px solid #999;
    }

    .day > ul > li:nth-child(1) {
        padding-top: 0.5rem;

        span {
            border-bottom: 2px solid yellow;
        }
    }

    .day > ul > li:nth-child(2) span {
        border-bottom: 2px solid lime;
    }

    .day > ul > li:nth-child(3) span {
        border-bottom: 2px solid rgb(252, 66, 34);
    }

    .day > ul > li:nth-child(4) span {
        border-bottom: 2px solid aqua;
    }
}