.table-wrapper {
    width: 100%;
    color: #000;
}

table {
    margin: 0 auto;
    border-collapse:collapse;
    table-layout: fixed;
    text-align: center;
    width: 90%;
    text-shadow: 1px 1px 0px #000;

    tr {

        th {
            background: #CCC;
            padding: 0.5rem 0;
        }

        td {
            padding: 1rem 0;
        }
    }

    tr:nth-child(odd) {
        background: #999;
    }

    h6, span {
        padding: 0 0.5rem;
    }
    
}

.salsa-kids {
    background-image: radial-gradient(circle, #ffff00, #f6f604, #eeee07, #e5e50a, #dddd0c);
}

.hora-kids {
    background: rgb(224, 224, 3);
}

.salsa-beginners {
    background: lime;
}

.hora-beginners {
    background: green;
}

.salsa-advanced {
    background: rgb(247, 41, 41);
}

.hora-advanced {
    background: rgb(252, 66, 34);
}

.ensemble {
    background: lightblue;
}


/* SCHEDULE MOBILE VERSION */

.schedule-mobile {
    display: none;
}

@include rp('tablet') {
    .schedule-laptop { display: none; }

    .table-wrapper {
        display: flex;
        flex-direction: column;
    }

    .schedule-mobile {
        display: inline-block;
        text-align: center;
        background: rgba(0, 0,  0, 0.3);
        border-radius: 0.3em;
        padding: 1rem;
        text-shadow: $base-text-shadow;

        li {
            color: $base-text-color;
            padding-bottom: 1rem;

            span {
                padding-bottom: 0.1rem;
            }
        }
    }

    .day > span {
        border-bottom: 2px solid #999;
    }

    .day > ul > li:nth-child(1) {
        padding-top: 1rem;

        span::before {
            border-bottom: 2px solid yellow;
        }
    }
}