@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

/* Typography Global Styles */

html {
    font-size: 12px;
    line-height: 1.5;
    font-family: "PT Serif", Georgia, Tahoma, serif;
}

@media (min-width: 600px) {
    html { font-size: 14px; }
}

@media (min-width: 1024px) {
    html { font-size: 16px; }
}

@media (min-width: 1440px) {
    html { font-size: 18px; }
}

@media (min-width: 1920px) {
    html { font-size: 21px; }
}

p {
    padding-bottom: 1em;
}

body, p, table, form, input, select, textarea, button {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h1 { font-size: 2.6rem }
h2 { font-size: 2.0rem }
h3 { font-size: 1.8rem }
h4 { font-size: 1.6rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.2rem }

.ampersand {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--base-text-color);
}