@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&subset=cyrillic,cyrillic-ext');


/*
 * Typography Global Styles
 */

html {
    font-size: $base-fz-mobile;
    line-height: 1.5;
    font-family: "PT Serif", Georgia, Tahoma, serif;
}

@media (min-width: 600px) {
    html { font-size: $base-fz-tablet; }
}

@media (min-width: 1260px) {
    html { font-size: $base-fz-laptop; }
}

@media (min-width: 1420px) {
    html { font-size: $base-fz-desktop; }
}

@media (min-width: 1660px) {
    html { font-size: $base-fz-tv; }
}

p {
    padding-bottom: 1em;
}

body, p, table, form, input, select, textarea, button, a, i, span {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 calc( $sizing-ws-base / 2 ) 0;
}

h6 {
    padding-bottom: 0.5rem;
}

h1 { font-size: 2.6rem }
h2 { font-size: 2.4rem }
h3 { font-size: 2.2rem }
h4 { font-size: 2.0rem }
h5 { font-size: 1.8rem }
h6 { font-size: 1.6rem }

.ampersand {
    font-weight: bold;
    font-size: $base-fz-zoom;
    color: #000;
}

li {
    list-style: none outside;
}

a {
    text-decoration: none;
    color: $base-text-color;
}