:root {
    --base-fz-mobile: 12px;
    --base-ws-global: 1.5em;
    --base-lt-global: 3em;
    
    --base-fz-tablet: 14px;
    --base-fz-laptop: 16px;
    --base-fz-desktop: 18px;
    --base-fz-tv: 20px;

    --base-padding: 2rem;
    --base-margin: 2rem 0;
    --article-h1-brdrd: 0.5em; 

    --base-text-color: #FFFFFF;
    --base-color-brd-hover: #00FFFF; 
    --base-color-brd-focus: #F30808;

    --base-inp-padleft: 0.3rem;
    --base-brdrd-pad: 0.3em;

    --basic-animation-duration: 1s;
    --basic-animation-delay: 0.3s;
}

%nav-animation {
    position: relative;
    opacity: 0;
    animation-duration: var(--basic-animation-duration);
    animation-fill-mode: forwards;
}

%nav-animation-left {
    position: relative;
    opacity: 0;
    animation-duration: var(--basic-animation-duration);
    animation-fill-mode: forwards;
    animation-name: list-animation-left;
}

%nav-animation-right {
    position: relative;
    opacity: 0;
    animation-duration: var(--basic-animation-duration);
    animation-fill-mode: forwards;
    animation-name: list-animation-right;
}

$baseurl: "{{ site.baseurl }}";